@using Safa.Domain
@model CashbookViewModel

@* @{ *@
@*     ViewData["Title"] = "Index"; *@
@* } *@

<!-- Page Heading -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total income
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">€@Model.TotalIncome.ToString("N2")</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Total expenses
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">€@Model.TotalExpenses.ToString("N2")</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Remaining spending money
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">€@Model.RemainingSpendingMoney.ToString("N2")</div>
                            </div>
                            <div class="col">
                                @* <div class="progress progress-sm mr-2"> *@
                                @*     <div class="progress-bar bg-info" role="progressbar" *@
                                @*          style="width: 50%" aria-valuenow="50" aria-valuemin="0" *@
                                @*          aria-valuemax="100"> *@
                                @*     </div> *@
                                @* </div> *@
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shopping-basket fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Transaction type</th>
                    <th>Income</th>
                    <th>Expense</th>
                    <th>Spending money</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var transaction in Model.Transactions)
                {
                    <tr>
                        <td>@transaction.Date</td>
                        <td>@transaction.Description</td>
                        <td>@transaction.Type</td>
                        @if (transaction.Type == TypeOfTransaction.Income)
                        {
                            <td>€ @transaction.Amount</td>
                            <td></td>
                            <td></td>
                        }
                        @if (transaction.Type == TypeOfTransaction.Expense)
                        {
                            <td></td>
                            <td>€ @transaction.Amount</td>
                            <td>@transaction.IsSpendingMoney</td>
                        }

                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Cashbook" asp-action="Edit" asp-route-id="@transaction.Id">
                                    <i class="bi bi-pencil-square"> </i> Edit
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<a asp-controller="Cashbook" asp-action="Create" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
    </span>
    <span class="text">New transaction</span>
</a>